h2{
    text-align: center;
}
form{
    display:flex;
    flex-direction:column;
    padding:2px 2px;
    width:750px;
    margin:2px auto;
    /* display:block; */
}
input{
    padding:4px 4px;
    text-align: center;
    margin:7px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}
button{
    width:70px;
    margin:8px auto;
    display:block;
    font-weight: bold;
    font-size: 17px;
    padding:4px 2px;
    border-radius:10px;
    background-color: black;
    color: white;
}
.container{
    /* height:10vh; */
    min-height: 80vh;
    /* justify-content: center;
    /* align-items: center; */
     /* display:flex;  */
} 